.WeatherData {
  margin-top: 20px;
  animation-name: fadeIn;
  animation-duration: 1s;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 5px;
}

.weatherHighlight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.weatherSecondary {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: space-between;
}

.temp {
  font-size: 3em;
  margin: 10px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}