.WeatherForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

input[type=text] {
  border: 2px solid; 
  padding: 0.8em;
  font-size: 1em;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  outline: none;
}

.zipFieldContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.submitWeather {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: rgb(29, 29, 29); 
  padding: 0.8em;
  height: auto;
  color: rgb(236, 236, 236);
  user-select: none;
}

.weatherDisplay {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.radio {
  margin: 10px 0;
}

.errorText {
  color: red;
}